<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/localmarket</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hbm2ddl.auto">update</property>

        <!-- Disable SQL logging -->
        <property name="hibernate.show_sql">false</property>   <!-- Do not show SQL in logs -->
        <property name="hibernate.format_sql">false</property> <!-- Do not format SQL in logs -->

        <mapping class="com.sda.Products"/>
        <mapping class="com.sda.Bill"/>
        <mapping class="com.sda.Buyer"/>
    </session-factory>
</hibernate-configuration>
